[Palette]
base_color=#{{base01-hex}}
highlight_color=#{{base0B-hex}}
highlighted_text_color=#ffffff
link_color=#{{base0D-hex}}
link_visited_color=#{{base0F-hex}}
text_color=#ececec
tooltip_base_color=#{{base00-hex}}
tooltip_text_color=#d9d9d9
window_color=#{{base00-hex}}
window_text_color=#f9f9f9
