@define-color accent_fg_color #{{base07-hex}};
@define-color accent_bg_color #{{base02-hex}};

@define-color window_bg_color #{{base00-hex}};
@define-color window_fg_color #{{base05-hex}};
@define-color headerbar_bg_color #{{base00-hex}};
@define-color headerbar_fg_color #{{base05-hex}};
@define-color popover_bg_color #{{base00-hex}};
@define-color popover_fg_color #{{base05-hex}};

@define-color view_bg_color #{{base01-hex}};
@define-color view_fg_color #{{base05-hex}};
@define-color card_bg_color #{{base01-hex}};
@define-color card_fg_color #{{base05-hex}};

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
